/* =============================================================================
 * Podstrona: Strona glowna
 * ========================================================================== */


/* =============================================================================
 * Single page application: podstrony i elementy
 * ========================================================================== */

[class*=page-],
[class*=items-] {
  display: none;
}
.page-index {
  display: block;
}

/* =============================================================================
 * Splash
 * ========================================================================== */

.splash {
  padding: 7em 0;
  text-align: center;
  background: linear-gradient(#222, #000);
  h1 {
    font-size: 2em;
    color: $color;
    text-shadow: 0 0 5px #000;
    @media screen and (min-width: $l-width) {
      font-size: 3em;
    }
  }
}


/* =============================================================================
 * Przykladowe avatary
 * ========================================================================== */

#samples {
  img {
    width: 100px;
    margin: 0.5em;
    border-radius: 50%;
    vertical-align: middle;
    transition: 0.2s;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}
