/* =============================================================================
 * Proste klasy
 * ========================================================================== */

.center { text-align: center; }
.navbar-margin { margin-top: ($navbar-height + 0.5em); }
.navbar-margin-tight { margin-top: $navbar-height; }
.l-margin { margin-bottom: $l-margin; }
.xl-margin { margin-bottom: $xl-margin; }
.show { display: block !important; }